@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 
body {
    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 20px 0;
}

.text--medium {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.posts {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.post {
    grid-column-end: span 3;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    border: 1px solid #D0D0D0;
}

.post:hover {
    transform: translateY(-7px);
}

.post_image-container {
    width: 100%;
    height: 200px;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.post_image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post__content {
    margin: 15px 0;
}

.post__description {
    margin-bottom: 15px;
}

.post__tittle {
    margin-bottom: 20px;
}

.post__info {
    display: flex;
    align-self: end;
    align-items: center;
}

.notifications {
    display: flex;
    align-items: center;
    margin-top: 15px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    font-size: 14px;
    margin-bottom: 5px;
}

.date {
    font-size: 10px;
}

.likes {
    margin-left: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.btn {
    cursor: pointer;
    padding: 12px 18px;
    border: none;
    background-color: #00BFFF;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn:hover {
    background-color: #1E90FF;
}

.btn:active {
    background-color: #1E90FF;
    transform: translateY(4px);
}


@media only screen and (max-width: 992px) {
    main {
        grid-gap: 20px;
    }
    .post {
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 768px) {
    main {
        grid-gap: 20px;
    }
    .post {
        grid-column-end: span 12;
    }
}

@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }
    .posts {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
    .post {
        grid-column-end: span 6;
    }
}



